$dark: #0d1a2a;
$main1: #216cfd;
$main2: #9f1efd;
$gradient: linear-gradient(to right, rgba($main2, .75), rgba($main1, .75));
$mqWith: 620px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  outline: none;
}

body,
html {
  height: 100vh;
}

body {
  background: url('./img/bg.png') no-repeat $dark;
  padding: 0 20px;
}

#app {
  margin: 0 auto;
  display: block;
  width: 100%;
  height: 100vh;
  max-width: 920px;
}

::placeholder {
  color: #fff;
  opacity: .99;
}

::selection {
  background: $main1;
  color: #fff;
  opacity: .99;
}

.icon-loading {
  background: url('./img/loading.png') no-repeat;
  width: 44px;
  height: 38px;
  display: flex;
  margin: 0 auto;

  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .3;
  }
  100% {
    opacity: 1;
  }
}
