.search-wrap {
  float: left;
  margin: 25% 0 50px 0;
  width: 100%;
}

.search-input {
  position: relative;
  width: 100%;
  float: left;
  margin: 0 0 50px 0;

  input {
    float: left;
    background: $gradient;
    border: none;
    color: #fff;
    font-size: 18px;
    padding: 15px 15px 15px 50px;
    width: 100%;
    box-shadow: 0 5px 40px 0 rgba($dark, .3);

    @media (max-width: $mqWith)  {
      font-size: 14px;
      padding: 10px 10px 10px 45px;
    }
  }
}

.icon-search {
  background: url('./img/search.png') no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 16px;
  left: 16px;

  @media (max-width: $mqWith)  {
    top: 9px;
    left: 11px;
  }
}

.result-wrap {
  float: left;
  width: 100%;
}

.result {
  float: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  div {
    float: left;
    max-width: calc(100% - 200px);
    margin: 10px 0 0 50px;
  }
}

.title {
  float: left;
  font-size: 16px;
  margin: 30px 0 10px 0;
  color: rgba(#fff, .6);
  text-shadow: 0 0 2px #fff;
}

.time {
  color: #fff;
  font-size: 20px;
  text-shadow: 0 0 2px #fff;
  margin: 0;

  @media (max-width: $mqWith)  {
    font-size: 16px;
  }
}

.cover {
  margin: 0;
  width: 80px;
  height: 119px;
  float: left;
  background-size: 100%;
  box-shadow: 0 5px 10px 0 rgba($main1, .5)
}

.nothing-found {
  float: left;
  color: #fff;
  font-size: 18px;
  margin: 50px 0 0 0;
  width: 100%;
  text-align: center;
}
